<div class="bg-dark sidebar" style="width: 250px;">
  <div class="p-2">
    <a class="d-flex text-decoration-none mt-1 align-items-center text-white">
      <img src="/icons/logocmj.png" class="icon" width="100px" height="100px" />
      <span class="fs-4 d-none d-sm-inline">Colégio Menino Jesus</span>
    </a>
    <ul class="nav nav-pills flex-column mt-4">
      <li class="nav-item">
        <a href="" class="nav-link text-white">
          <i class="bi bi-house fs-4 me-3"></i>
          <span class="fs-4 d-none d-sm-inline">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="/boletim" class="nav-link text-white">
          <i class="bi bi-book fs-4 me-3"></i>
          <span class="fs-4 d-none d-sm-inline">Boletim</span>
        </a>
      </li>
      <li class="nav-item">
        <a href="" class="nav-link text-white">
          <i class="bi bi-person-vcard fs-4 me-3"></i>
          <span class="fs-4 d-none d-sm-inline">Alunos</span>
        </a>
      </li>
    </ul>
  </div>
</div>
