<div class="card d-flex mt-5 mb-5 m-auto border-2 rounded-0">
  <h5 class="card-header">Boletim Individual do Aluno(a)</h5>
  <div class="card-body">
    <div class="d-flex flex-column align-items-start">
      <div class="row w-100 mb-2">
        <div class="col-md-8">
          <div class="input-group">
            <span class="input-group-text rounded-0">ALUNO(A)</span>
            <input
              type="text"
              aria-label="First name"
              class="form-control rounded-0"
              (input)="limitInputText($event)"
            />
          </div>
        </div>

        <div class="col-md-4">
          <div class="input-group">
            <span class="input-group-text rounded-0">Nº</span>
            <input type="text" class="form-control rounded-0" />
          </div>
        </div>
      </div>
      <div class="input-group mb-2 w-auto">
        <span class="input-group-text rounded-0">SÉRIE</span>
        <select class="form-select rounded-0">
          <option selected></option>
          <option value="1">6º ANO</option>
          <option value="2">7º ANO</option>
          <option value="3">8º ANO</option>
          <option value="4">9º ANO</option>
          <option value="5">1ª SÉRIE</option>
          <option value="6">2ª SÉRIE</option>
          <option value="7">3ª SÉRIE</option>
        </select>
      </div>
      <div class="input-group w-auto">
        <span class="input-group-text rounded-0">ANO</span>
        <input
          type="number"
          class="form-control rounded-0"
          min="2022"
          max="2099"
          step="1"
          (input)="limitInputLength($event)"
          (keydown)="limitInputLength($event)"
        />
      </div>
      <p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>
    <h5>DISCIPLINAS</h5>
    <table class="table table-bordered border">
      <thead>
        <tr>
          <th scope="col">BIMESTRE</th>
          <th scope="col">1º BIM</th>
          <th scope="col">2º BIM</th>
          <th scope="col">3º BIM</th>
          <th scope="col">4º BIM</th>
          <th scope="col">SÍNTESE</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let subject of subjects">
          <th scope="row">{{ subject.name }}</th>
          <td>
            <input
              type="number"
              [(ngModel)]="subject.n1"
              min="0"
              max="10"
              class="form-control"
              (input)="limitInputMedia($event)"
            />
          </td>
          <td>
            <input
              type="number"
              [(ngModel)]="subject.n2"
              min="0"
              max="10"
              class="form-control"
              (input)="limitInputMedia($event)"
            />
          </td>
          <td>
            <input
              type="number"
              [(ngModel)]="subject.n3"
              min="0"
              max="10"
              class="form-control"
              (input)="limitInputMedia($event)"
            />
          </td>
          <td>
            <input
              type="number"
              [(ngModel)]="subject.n4"
              min="0"
              max="10"
              class="form-control"
              (input)="limitInputMedia($event)"
            />
          </td>
          <td>
            <strong>{{
              subject.synthesis !== undefined
                ? subject.synthesis.toFixed(1)
                : "0.00"
            }}</strong>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="mb-2">
      <button type="button" class="btn btn-primary" (click)="calculateAll()">
        Calcular
      </button>
    </div>
  </div>
</div>

