.card {
    width: 40rem;
}

.table {
    width: 100%;
}

h5 {
    text-align: center;
}

input {
    width: 3.75rem;
}

.form-select {
    width: 6.25rem;
}

input[type=number]::-webkit-inner-spin-button{
    appearance: none; 
}